<h1>LP Framer</h1>

<form action="/search" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="query">
  </div>
  <button class="btn btn-primary mt-3 mb-3" type="submit">Search</button>
</form>

{{#if imageFileName}}
  <p>{{title}}</p>
  <img src="images/{{imageFileName}}" alt="{{title}}">
  <form id="imageDownloadForm" action="/download" method="post">
    <input type="hidden" name="imageFileName" value="{{imageFileName}}">
    <button id="downloadButton" class="btn btn-primary mt-3 mb-3" type="submit" for="imageDownloadForm">Download Image</button>
  </form>
{{else}}
  <p>Search for an LP to begin.</p>
{{/if}}
